html, body {
  padding: 0;
  margin: 0;
  background: black;
}

#recording {
  display: none;
}

nav {
  height: 5em;
  display: flex;
  align-items: center; 
}

#logo {
  margin: 20px;
  color: white;
  cursor: pointer;
}

#logo:hover {
  transform: rotate(90deg);
  transition: all .2s ease-in-out;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}

#menu {
  height: 2em;
}

#menu a {
  margin-right: 10px;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: white;
}

h1, h2 {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 5em;
  margin: 0;
}
h2 {
  letter-spacing: 3px;
  font-size: 2em;
  margin-top: 0;
}

#buttons {
  margin: 0 auto;
  text-align: center;
  width: 50vw;
  height:45vh;
  transition: all .2s ease-in-out;
}
#buttons:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#recordButton {
  color: white;
  font-size: 10em;
}

#downloadbox {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

#downloadButton {
  display: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

#graphs {
  background-color: black;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2em;
}