html, body {
  padding: 0;
  margin: 0;
  background: black;
}

#downloadButton, #recording {
  display: none;
}

#stopButton {
  display: none;
}
video {
  display: none;
}

.left {
  background: black;
  text-align: center;
  position: relative;
}

h1, h2 {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
}
h2 {
  letter-spacing: 3px;
  font-size: 2em;
}
#logo {
  position: absolute;
  top: 30px;
  left: 50px;
  color: white;
}
#buttons {
  margin: 0 auto;
  text-align: center;
  width: 50vw;
  height:40vh;
  transition: all .2s ease-in-out;
}
#buttons:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#recordButton {
  margin-top: 3vh;
  color: white;
  font-size: 10em;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
  margin-right: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}
li {
    display: inline-block;
    margin-top: 30px;
}
li a {
  text-decoration: none;
  color: white;
  padding: 20px 10px;
}

#downloadbox {
  text-align: center;
  height: 10vh;
}

#downloadButton {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}