html, body {
  padding: 0;
  margin: 0;
  background: black;
}

#downloadButton, #recording {
  display: none;
}

/*
#startButton, #stopButton {
  position: absolute;
  display: block;
  bottom: 15vh;
  left: 50vw;
  right: 50vw;
  font-size: 7em;
  margin-left: -56px;
}*/
#stopButton {
  display: none;
}
video {
  display: none;
}
.fa-play-circle-o {
  color: white;
}
.fa-stop-circle-o {
  color: white;
}
.left {
  background: black;
  text-align: center;
  position: relative;
}
h1 {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 5em;
  margin-bottom: 0;
  padding-top: 20vh;
}
p {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-size: 2em;
}
#logo {
  position: absolute;
  top: 30px;
  left: 50px;
  color: white;
}
h2 {
  text-align: center;
  margin-top: 70px;
  font-size: 2em;
  transition: all .2s ease-in-out;
}
h2:hover {
  transform: scale(1.2);
}
ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
  margin-right: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}
li {
    display: inline-block;
    margin-top: 30px;
}
li a {
  text-decoration: none;
  color: white;
  padding: 20px 10px;
}
